<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwc.ablservice">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--    电量优化-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!--    使用记录访问权限-->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <!--    读取通知权限-->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <uses-permission android:name="com.meizu.permission.SEARCH_SETTINGS" />

    <application
        android:name=".ClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DevicePolicyActivity" />

        <receiver
            android:name=".receiver.MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <!-->android:resource="@xml/devicepolicymanager_permission"指定设备管理器的权限</!-->

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/devicepolicymanager_permission" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".receiver.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.media.AudioManager.ACTION_AUDIO_BECOMING_NOISY" />
                <action android:name="com.qihoo.appstore.ACTION_DAEMON_CORE_SERVICE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.vivo.action.KEYGUARD_STATE_CHANGED" />
                <action android:name="com.vivo.action.calendar.USER_PRESENT" />
                <action android:name="com.bbk.cloud.action.POWER_CONNECTED" />
                <action android:name="vivo.vtouch.application.resumed" />
                <action android:name="android.intent.action.TEST_GKP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationMonitorService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":gray">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.NotificationMonitorService$GrayInnerService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>